/* Start positions */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
.p-fixed {
    position: fixed;
}
.p-static {
    position: static;
}
.p-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.of-hidden {
    overflow: hidden;
}
/* End positions */
/* Start displays */
.d-block {
    display: block;
}
.d-flex {
    display: flex;
}
.d-inline-flex {
    display: inline-flex;
}
.d-inline-block {
    display: inline-block;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
.flex-around {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.flex-1 {
    flex: 1;
}
.v-center {
    align-content: center;
}
/* End displays */
/* Start padding */
.p-0 {
    padding: 0;
}
.pr-0 {
    padding-right: 0;
}
.pl-0 {
    padding-left: 0;
}
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 15px;
}
.p-25 {
    padding: 25px;
}
.p-30 {
    padding: 30px;
}
.pt-50 {
    padding-top: 50px;
}
.pb-50 {
    padding-bottom: 50px;
}
.pr-20 {
    padding-right: 20px;
}
/* End Padding */
/* Start margin */
.m-0 {
    margin: 0;
}
.m-10 {
    margin: 10px;
}
.m-15 {
    margin: 15px;
}
.mb-15 {
    margin-bottom: 15px;
}
.m-20 {
    margin: 15px;
}
.m-25 {
    margin: 25px;
}
.m-30 {
    margin: 30px;
}
.mr-20 {
    margin-right: 20px;
}
/* End margin */
/* Start width & height*/
.w-full {
    width: 100%;
}
.h-full {
    height: 100%;
}
.b-circle {
    border-radius: 50%;
}
/* End width & height*/
/* Start Fonts */
.txt-c {
    text-align: center;
}
.txt-right {
    text-align: right;
}
.txt-left {
    text-align: left;
}
.fw-bold {
    font-weight: bold;
}
.fs-10 {
    font-size: 10px;
}
.fs-15 {
    font-size: 15px;
}
.fs-20 {
    font-size: 20px;
}
.fs-30 {
    font-size: 30px;
}
/* End Fonts */
/* Start colors */
.c-white {
    color: white;
}
.c-gray {
    color: #444;
}
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
/* End colors */
/* Start Effects */
.trans-3 {
    transition: .3s;
}
/* End Effects */