:root {
    --main-color: #ff9800;
}
/* Start Contact */
.contact {
    min-height: 600px;
    background-image: url("../imgs/contact.png");
    background-size: cover;
}
.contact .overlay {
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255, 0.6);
}
.contact .container {
    z-index: 2;
}
.contact form {
    overflow: hidden;
    max-width: 800px;
    margin: auto;
}
.contact form .left {
    float: left;
    width: 49%;
}
.contact form .right {
    float: right;
    width: 49%;
}
.contact form input:not([type="submit"]),
.contact form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    outline: none;
    background-color: rgba(218, 218, 218, 0.19);
}
.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
    border: 1px solid var(--main-color);
}
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder,
.contact form textarea:focus::-webkit-input-placeholder {
    transition: .3s;
    opacity: 0;
}
.contact form input {
    height: 40px;
}
.contact form textarea {
    height: 150px;
    resize: none;
}
.contact form input[type="submit"] {
    border-color: transparent;
    background-color: var(--main-color);
    cursor: pointer;
}
/* End Contact */
@media (max-width: 767px) {
    .contact form .left,
    .contact form .right {
        float: none;
        width: 100%;
    }
}