:root {
    --main-color: #ff9800;
}
/* Start Features */
.features .feat-box {
    width: calc(100% / 3);
    float: left;
    text-align: center;
    margin-bottom: 40px;
}
.features .feat-box img {
    width: 96px;
}
.features .feat-box h4 {
    font-size: 20px;
    margin: 15px 0 40px;
    position: relative;
}
.features .feat-box h4:before {
    content: "";
    position: absolute;
    width: 40px;
    height: 4px;
    background-color: var(--main-color);
    left: 50%;
    margin-left: -20px;
    bottom: -24px;
}
.features .feat-box p {
    width: 80%;
    margin: 0 auto;
    line-height: 1.7;
    color: #646464;
}
/* End Features */
@media (max-width: 991px) {
    .features .feat-box {
        width: calc(100% / 2);
    }
}
@media (max-width: 590px) {
    .features .feat-box {
        width: 100%;
    }
}